 #map_canvas { 
  height: 600px;
}

#bodyContent {
  background-color: rgba(223, 223, 197, 0.72);
  border-radius: 15px;
  padding: 1em;
  color: #9000A1;
  font-size: 90%;
  text-shadow: none;
}

#tweetContent {
  width: 250px;
}

.userTweet {
  background-color: #F1F162;
  font-size: 110%;
  padding: 6px;
  text-shadow: none;
}